.react-datepicker-wrapper{
    display: block!important;
}
.react-datepicker__input-container{
    display: block!important;    
}
form button:disabled {
    background-color: red;
    color: #333;  
}
form input.error {
    border-color: red;
  }